@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary-50 text-primary font-clash;
  }

  @font-face {
    font-family: "Clash";
    src: url("../../public/assets/fonts/ClashGrotesk-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Clash";
    src: url("../../public/assets/fonts/ClashGrotesk-Semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Clash";
    src: url("../../public/assets/fonts/ClashGrotesk-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Clash";
    src: url("../../public/assets/fonts/ClashGrotesk-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Clash";
    src: url("../../public/assets/fonts/ClashGrotesk-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Clash";
    src: url("../../public/assets/fonts/ClashGrotesk-Extralight.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
}
